// Custom settings for Zurb Foundation. Default settings can be found at
// vendor/bower_components/foundation/scss/foundation/_settings.scss
@import "https://use.fontawesome.com/c66280957e.css";

//This is for the navigation bar at the top of the screen
//controls the colour and positioning mainly
#navbar ul {
  margin: 0;
  padding: 5px;
  cellspacing: 0;
  cellpadding: 0;
  border: 0;
  list-style-type: none;
  float: right;
  background-color: #cb9bf1;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: black;
}

#navbar ul li a:hover {
  padding-bottom: 15px;
  padding-top: 10px;
  background-color: #ececec;
}

//This class is for the background of the user input fields
//the class is used thorughout the system
//The main aspects are the colour and keeping is center on the page
.form-back{
  margin-top:40px;
  max-width: 500px;
  background-color: #cb9bf1;
  padding: 20px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}

//same as the class before but with a few changes to suit the object
.answers-back{
  margin-top:40px;
  background-color: #cb9bf1;
  padding: 20px;
  border-radius: 8px;
}

//same as the class before but with a few changes to suit the object
.survey-back{
  margin-top:40px;
  background-color: #cb9bf1;
  padding: 20px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}

//This class is used thoughout to style the buttons
//main aspects are the colour and size
.main-button{
  background-color: #ececec;
  font-size: 16px;
  padding: 12px 28px;
  border: 2px solid #ececec;
  border-radius: 8px;
}

//same as the class before but with a few changes to suit the object
.secondary-button{
  color: black;
  background-color: #cb9bf1;
  font-size: 30px;
  padding: 20px 50px;
  border: 2px solid #cb9bf1;
  border-radius: 8px;
}

//allows the button above to have a hover to it
.main-button:hover {
  background-color: #ececec;
}

//background colout for the navigation bar
.top-bar{
  background-color: #cb9bf1;
}

//center whatever object has this class to it
.center{
  text-align: center;
}

//to increase the form size in order to over right previous attributes
.form-size{
  width: 450px;
}

//-change the colour of the icons that are import from fontawesome
.icon-colour{
  color: #ececec;
}

//change the placement of the icons that are import from fontawesome
.icon-placement{
  margin-left:40px;
}

//change the forms button so it suit the overall style more
button{
  background-color: #cb9bf1;
}
//button hover for all form buttons
button:hover{
  background-color: #cb9bf1;
}

//background colour for the whole document
.background-colour{
  background-color: #ececec;
}

//allows all the header in the system to have the same layout and centered
.header{
  margin-top:20px;
  font-weight: bold;
  text-align: center;
}

//ID need to over to get the borders on the survey page
#border{
  border-left: 1px solid #ececec;
}

//move a couple of button around the page to keep up with styling
.button-float{
  margin-left:300px;
}

//change the size of one object
.size{
  font-size:30px;
}

//give margins to whatever objects need to be centered
.margins{
  margin-right: auto;
  margin-left: auto;
  margin-bottom:50px;
}

// change the position of a singular button
#button-pos{
  margin-top:100px;
}